body{
    justify-content: center;
}
fieldset{
    display: flex;
    justify-content: center;
}
.input{
    display:flex;
    flex-direction: column;
    padding: 1em;
    background-color: #999;
}

.input div {
    display: flex;
    margin: 1em 0;
    justify-content: space-between;

}
.input div label{
    padding-right: 2em;
}
.input div .input-menssagem{
    width: 50vw;
    min-width: 5em;
    max-width: 20em;
    border-radius: 0;
    border: 1px solid black;
    background-color: #999;
}

#input-menssagem{
    height: 15vh;
}

.entrada fieldset .input #botao{
    display: flex;
    align-self: center;
    justify-content: center;
    border-style: solid;
    border-radius: 0;
    background-color: #ddd;
    width: 5em;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main #delete{
    display: flex;
    padding: 0.5em;
    margin: 1em;
    justify-content: center;
    justify-self: center;
    max-width: 50vw;
}

#menssagens{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-items: center;
    margin: 1em;
    
}
#menssagens .class-menssagem{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    background-color: #777;
    min-width: 50vw;
    margin: 2em 0 0 0;
}
.class-menssagem div{
    display: flex;
    justify-content: flex-end;
}
.class-menssagem h1{
    display: flex;
    padding: 1em;
    justify-self: left;
    font-weight: bold;
    font-size: larger;
}

.class-menssagem h2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 60vw;
    padding: 1em;
    margin: 0 auto;
    font-size:x-large;
    word-break: break-all;
}

.formulario{
    display:flex;
    flex-direction: column;
    padding: 1em;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
}

.formulario div{
    display: flex;
    margin: 1em 0;
    justify-content: space-between;

}

.formulario .bEdit{
    display: flex;
    align-self: center;
    justify-content: center;
    border-style: solid;
    border-radius: 0;
    background-color: #ddd;
    width: 5em;
}

button{
    display: flex;
    justify-content: center;
    padding: 0.5em;
    width:fit-content;
}